<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Uczniow szkoły</title>
</head>
<body>

<h1>Lista studentów w szkole</h1>

<table>
    <thead>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Rocznik</th>
    <th>Klasa</th>
    <th>Oceny</th>
    <th>Costqm</th>

    <th></th>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.surName}"></td>
        <td th:text="${student.yearBook}"></td>
        <td th:text="${student.classSign}"></td>
        <td>
            <ul>
                <li th:each="studentGradebook : ${student.getStudGradeBook()}"
                    th:text="${studentGradebook.getKey() + ' ' + studentGradebook.getValue() }">
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>